article(id=`${navs.contact.href}`).panel.profiles 
  header 
    h2 #{navs.contact.title}
  section 
    .row 
      .col-4.col-12-small 
        h5 Name:
      .col-8.col-12-small 
        p PT. Mogin Technology Terpadu
    //- .row 
    //-   .col-4.col-12-small 
    //-     strong NPWP:
    //-     br
    //-     span.tax (Tax Registration No.)
    //- .col-8.col-12-small
    //-   p. 
    //-     53.060.356.2-903.000
    .row 
      .col-4.col-12-small 
        h5 Address:
      .col-8.col-12-small
        p. 
          Jl. Kutat Lestari Gg. 10 No. 16<br>
          80228 Sanur, Bali<br>
          Indonesia
    .row 
      .col-4.col-12-small 
        h5 Email:
      .col-8.col-12-small
        p 
          include /email.pug
  //- h5 Credits 
  //- div
  //-   div Images 
  //-   div Unsplash (#[a(href="http://unsplash.com") unsplash.com])
  //- div
  //-   div Icons 
  //-   div Font Awesome (#[a(href="http://fontawesome.io") fontawesome.io])
  //- div 
  //-   div Other 
  //-   div jQuery (#[a(href="http://jquery.com") jquery.com])
  //-   div Responsive Tools (#[a(href="http://github.com/ajlkn/responsive-tools") github.com/ajlkn/responsive-tools])
  //-   div HTML5UP (#[a(href="http://html5up.net/astral") html5up.net/astral])