
article(id=`${navs.projects.href}`).panel.profiles 
  header 
    h2 #{navs.projects.title}
  p.
    We have built one of the first iOS applications for Product Data Management in 2010, to enable customers to make critical decisions from anywhere at anytime.
  p.
    In multiple projects we specially focus on enterprise applications and their secure integration into the corporate environment.
    Our expertise covers system architecture, security and data privacy by design. 
    We have helped global mechanical engineering teams in the hydraulic industry to create a consistent appearance to their customers.
  p.
    Currently we are working on greenhouse automations for a multi-national German Corporate based in the United States.
  section 
    .row 
      .col-4.col-6-medium.col-12-small
        a.image.fit
          img.round(src="/img/bmw.jpg" alt="")
      .col-4.col-6-medium.col-12-small
        a.image.fit
          img.round(src="/img/bucher.jpg" alt="")
      .col-4.col-6-medium.col-12-small
        a.image.fit
          img.round(src="/img/bayer.jpg" alt="")