article(id=`${navs.tools.href}`).panel.profiles 
  header 
    h2 #{navs.tools.title}
  h5 Programming
  ul 
    li Typescript, Javascript, PHP, Visual Basic, Objective-C, HTML, CSS, SASS, Shell, LaTeX
    li Postgres, MySQL, MariaDB, MsSQL, Oracle, Redis, Memcached
    li React, Angular
  h5 Software
  ul 
    li Visual Studio Code, Docker, Kubernetes, Git, Postman
    li Affinity Designer, Affinity Photo
    li Excel, Powerpoint, Word, Teams 
  h5 Hardware 
  ul 
    li Apple, Windows