a(href="#" class="cryptedmail" data-a="hello" data-b="mogin" data-c="net" onclick="window.location.href = 'mailto:' + this.dataset.a + '@' + this.dataset.b + '.' + this.dataset.c; return false;")
img.imgmail(src="/img/email.jpg" alt="Email")