extends /layout.pug
block title
  - title = "Credits"

block content 
  article#credits.panel 
    header 
      h2= `${title}`
    h5 Images
    ul 
      li Unsplash (#[a(href="http://unsplash.com") unsplash.com])
      li Pixabay (#[a(href="http://pixabay.com") pixabay.com])
    h5 Icons
    ul 
      li Font Awesome (#[a(href="http://fontawesome.io") fontawesome.io])
    h5 Other 
    ul 
      li jQuery (#[a(href="http://jquery.com") jquery.com])
      li Responsive Tools (#[a(href="http://github.com/ajlkn/responsive-tools") github.com/ajlkn/responsive-tools])
      li HTML5UP Astral (#[a(href="http://html5up.net/astral") html5up.net/astral])