extends /layout.pug
//- block title
//-   - var title = "Name"

block content

  include /pages/home.pug

  include /pages/projects.pug

  include /pages/tools.pug

  include /pages/about.pug

  include /pages/contact.pug

